/* GLOBAL STYLES */

html,
body {
    margin: 0;
    padding: 0;
}

a {
    color: rgba(255, 0, 0, 0.2);
    /*color: red;*/
}

h1 {
    margin-top: 0;
}

/* HERO STYLES */

.full-hero {
    background: #c7dbfc;
    height: 50vh;
}

.full-hero li {
    display: inline;
}

/* SOCIAL STYLES */
.social-link {
    background: rgba(150, 150, 150, 0.5);
    border-radius: 99px;
    color: #00f;
    display: inline-block;
    height: 36px;
    width: 36px;
}

.social-list {
    list-style: none;
    padding: 0;
    text-align: center;
}

.social-list>li {
    display: inline-block
    margin: 0 0.5em;
}

/* BIO STYLES */

.bio-wrapper {
    background-color: #c0e0c3;
    font-size: 24px;
    margin: 0 auto 20px;
    max-width: 960px;
    overflow: hidden;
    /*width: 500px;*/
}

/*.bio-wrapper:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}*/

.bio-box {
    border: 1px solid #000;
    box-sizing: border-box;
    float: left;
    font-size: 1rem;
    margin: 40px 1% 0;
    padding: 2%;
    width: 23%;
    /*padding: 2.5em;*/
}

.bio-box img {
    width: 100%;
}

.bio-box h3 {
		color: #fff;
    font-size: 1.5rem;
    margin: -40px 0 1em;
    text-align: center;
}

.bio.box>a {
    color: #c68bf9;
}

.bio-copy {
    font-size: 1em;
}

.bio-copy a {
    color: #0f0;
    /*font-size: 1em;*/

}